.alternateDiv {
  display: flex;
  align-items: center;
}

.phoneIcon {
  margin-left: 7px;
}

.span {
  margin-left: 9px;
}
.emailIcon {
  margin-top: 4px;
  font-size: larger;
  margin-left: 5px;
}
